In [32]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load
# %pip install --upgrade -q pip
# %pip install numpy pandas
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('../client/data'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

../client/data/.DS_Store
../client/data/menu_items/menu_items.csv
../client/data/transaction_items/transaction_items_202401.csv
../client/data/transaction_items/.DS_Store
../client/data/transaction_items/transaction_items_202501.csv
../client/data/stores/stores.csv
../client/data/transactions/transactions_202501.csv
../client/data/transactions/.DS_Store
../client/data/transactions/transactions_202401.csv
../client/data/users/users_202409.csv
../client/data/users/users_202408.csv
../client/data/users/.DS_Store
../client/data/users/users_202309.csv
../client/data/users/users_202308.csv
../client/data/users/users_202503.csv
../client/data/users/users_202311.csv
../client/data/users/users_202310.csv
../client/data/users/users_202502.csv
../client/data/users/users_202312.csv
../client/data/users/users_202307.csv
../client/data/users/users_202501.csv
../client/data/users/users_202505.csv
../client/data/users/users_202504.csv
../client/data/users/users_202506.csv
../client/data/users/users_202401.csv
../client/data/users/users_202403.csv
../client/data/users/users_202402.csv
../client/data/users/users_202412.csv
../client/data/users/users_202406.csv
../client/data/users/users_202407.csv
../client/data/users/users_202405.csv
../client/data/users/users_202411.csv
../client/data/users/users_202410.csv
../client/data/users/users_202404.csv

# Import and Configurations

In [33]:
# %pip install matplotlib
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import os

pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', 100)

# Main Dataframes Loading

## 2024 and 2025 Transactions

In [34]:
# columnas a DESCARTAR (0-based)
drop_idx = {2, 3, 6}
# obtenemos cantidad de columnas leyendo solo el header
sample = pd.read_csv('../client/data/transactions/transactions_202401.csv', nrows=0)
keep_idx = [i for i in range(sample.shape[1]) if i not in drop_idx]
sample

Empty DataFrame
Columns: [transaction_id, store_id, payment_method_id, voucher_id, user_id, original_amount, discount_applied, final_amount, created_at]
Index: []

In [35]:
transactions_202307 = pd.read_csv('../client/data_test_case/transactions/transactions_202307.csv', usecols=keep_idx, low_memory=False)
transactions_202401 = pd.read_csv('../client/data_test_case/transactions/transactions_202401.csv', usecols=keep_idx, low_memory=False)
transactions_202402 = pd.read_csv('../client/data_test_case/transactions/transactions_202402.csv', usecols=keep_idx, low_memory=False)
transactions_202403 = pd.DataFrame() #pd.read_csv('../client/data/transactions/transactions_202403.csv', usecols=keep_idx, low_memory=False)
transactions_202404 = pd.DataFrame() #pd.read_csv('../client/data/transactions/transactions_202404.csv', usecols=keep_idx, low_memory=False)
transactions_202405 = pd.DataFrame() #pd.read_csv('../client/data/transactions/transactions_202405.csv', usecols=keep_idx, low_memory=False)
transactions_202406 = pd.DataFrame() #pd.read_csv('../client/data/transactions/transactions_202406.csv', usecols=keep_idx, low_memory=False)
transactions_202407 = pd.DataFrame() #pd.read_csv('../client/data/transactions/transactions_202407.csv', usecols=keep_idx, low_memory=False)
transactions_202408 = pd.DataFrame() #pd.read_csv('../client/data/transactions/transactions_202408.csv', usecols=keep_idx, low_memory=False)
transactions_202409 = pd.DataFrame() #pd.read_csv('../client/data/transactions/transactions_202409.csv', usecols=keep_idx, low_memory=False)
transactions_202410 = pd.DataFrame() #pd.read_csv('../client/data/transactions/transactions_202410.csv', usecols=keep_idx, low_memory=False)
transactions_202411 = pd.read_csv('../client/data_test_case/transactions/transactions_202411.csv', usecols=keep_idx, low_memory=False)
transactions_202412 = pd.read_csv('../client/data_test_case/transactions/transactions_202412.csv', usecols=keep_idx, low_memory=False)

transactions_202501 = pd.read_csv('../client/data_test_case/transactions/transactions_202501.csv', usecols=keep_idx, low_memory=False)
transactions_202502 = pd.read_csv('../client/data_test_case/transactions/transactions_202502.csv', usecols=keep_idx, low_memory=False)
transactions_202503 = pd.DataFrame() #pd.read_csv('../client/data/transactions/transactions_202503.csv', usecols=keep_idx, low_memory=False)
transactions_202504 = pd.DataFrame() #pd.read_csv('../client/data/transactions/transactions_202504.csv', usecols=keep_idx, low_memory=False)
transactions_202505 = pd.read_csv('../client/data_test_case/transactions/transactions_202505.csv', usecols=keep_idx, low_memory=False)
transactions_202506 = pd.read_csv('../client/data_test_case/transactions/transactions_202506.csv', usecols=keep_idx, low_memory=False)

In [36]:
dfs1 = [transactions_202307,
       transactions_202401, 
       transactions_202402, 
       transactions_202403, 
       transactions_202404, 
       transactions_202405, 
       transactions_202406, 
       transactions_202407, 
       transactions_202408, 
       transactions_202409, 
       transactions_202410, 
       transactions_202411, 
       transactions_202412]

In [37]:
dfs2 = [transactions_202501, 
       transactions_202502, 
       transactions_202503, 
       transactions_202504, 
       transactions_202505, 
       transactions_202506]

transactions = pd.concat(dfs1 + dfs2, ignore_index=True)

In [38]:
transactions.shape

(1185550, 6)

In [39]:
transactions.head()

,transaction_id,store_id,user_id,original_amount,final_amount,created_at
0,2ae6d188-76c2-4095-b861-ab97d3cd9312,4,NaN,38.0,38.0,2023-07-01 07:00:00
1,7d0a474d-62f4-442a-96b6-a5df2bda8832,7,NaN,33.0,33.0,2023-07-01 07:00:02
2,85f86fef-fddb-4eef-9dc3-1444553e6108,1,NaN,27.0,27.0,2023-07-01 07:00:04
3,4c41d179-f809-4d5a-a5d7-acb25ae1fe98,5,NaN,45.5,45.5,2023-07-01 07:00:21
4,51e44c8e-4812-4a15-a9f9-9a46b62424d6,8,NaN,27.0,27.0,2023-07-01 07:00:33

### Data Cast

In [40]:
# 1) IDs y textos
transactions["transaction_id"] = transactions["transaction_id"].astype("string").str.strip()

# 2) Numéricos
transactions["store_id"] = pd.to_numeric(transactions["store_id"], errors="coerce").astype("Int64")
transactions["user_id"] = pd.to_numeric(transactions["user_id"], errors="coerce").astype("Int64")

transactions["original_amount"] = pd.to_numeric(transactions["original_amount"], errors="coerce").astype("float64")
transactions["final_amount"]    = pd.to_numeric(transactions["final_amount"],    errors="coerce").astype("float64")

# 3) Fecha/Hora
transactions["created_at"] = pd.to_datetime(transactions["created_at"], errors="coerce")

In [41]:
transactions.dtypes

transaction_id     string[python]
store_id                    Int64
user_id                     Int64
original_amount           float64
final_amount              float64
created_at         datetime64[ns]
dtype: object

In [42]:
transactions.head()

,transaction_id,store_id,user_id,original_amount,final_amount,created_at
0,2ae6d188-76c2-4095-b861-ab97d3cd9312,4,<NA>,38.0,38.0,2023-07-01 07:00:00
1,7d0a474d-62f4-442a-96b6-a5df2bda8832,7,<NA>,33.0,33.0,2023-07-01 07:00:02
2,85f86fef-fddb-4eef-9dc3-1444553e6108,1,<NA>,27.0,27.0,2023-07-01 07:00:04
3,4c41d179-f809-4d5a-a5d7-acb25ae1fe98,5,<NA>,45.5,45.5,2023-07-01 07:00:21
4,51e44c8e-4812-4a15-a9f9-9a46b62424d6,8,<NA>,27.0,27.0,2023-07-01 07:00:33

### Data Exploration

#### Null Values

In [43]:
# total de filas con user_id faltante
transactions["user_id"].isna().sum()

np.int64(429400)

In [44]:
# porcentaje faltante de usuarios
faltan = transactions["user_id"].isna().mean() * 100
print(f"{faltan:.2f}%")

36.22%

## 2024 and 2025 Transactions Items

In [45]:
transactions_items_202307 = pd.read_csv('../client/data_test_case/transaction_items/transaction_items_202307.csv', low_memory=False)
transactions_items_202401 = pd.read_csv('../client/data_test_case/transaction_items/transaction_items_202401.csv', low_memory=False)
transactions_items_202402 = pd.read_csv('../client/data_test_case/transaction_items/transaction_items_202402.csv', low_memory=False)
transactions_items_202403 = pd.DataFrame() #pd.read_csv('../client/data/transaction_items/transaction_items_202403.csv', low_memory=False)
transactions_items_202404 = pd.DataFrame() #pd.read_csv('../client/data/transaction_items/transaction_items_202404.csv', low_memory=False)
transactions_items_202405 = pd.DataFrame() #pd.read_csv('../client/data/transaction_items/transaction_items_202405.csv', low_memory=False)
transactions_items_202406 = pd.DataFrame() #pd.read_csv('../client/data/transaction_items/transaction_items_202406.csv', low_memory=False)
transactions_items_202407 = pd.DataFrame() #pd.read_csv('../client/data/transaction_items/transaction_items_202407.csv', low_memory=False)
transactions_items_202408 = pd.DataFrame() #pd.read_csv('../client/data/transaction_items/transaction_items_202408.csv', low_memory=False)
transactions_items_202409 = pd.DataFrame() #pd.read_csv('../client/data/transaction_items/transaction_items_202409.csv', low_memory=False)
transactions_items_202410 = pd.DataFrame() #pd.read_csv('../client/data/transaction_items/transaction_items_202410.csv', low_memory=False)
transactions_items_202411 = pd.read_csv('../client/data_test_case/transaction_items/transaction_items_202411.csv', low_memory=False)
transactions_items_202412 = pd.read_csv('../client/data_test_case/transaction_items/transaction_items_202412.csv', low_memory=False)

transactions_items_202501 = pd.read_csv('../client/data_test_case/transaction_items/transaction_items_202501.csv', low_memory=False)
transactions_items_202502 = pd.read_csv('../client/data_test_case/transaction_items/transaction_items_202502.csv', low_memory=False)
transactions_items_202503 = pd.DataFrame() #pd.read_csv('../client/data/transaction_items/transaction_items_202503.csv', low_memory=False)
transactions_items_202504 = pd.DataFrame() #pd.read_csv('../client/data/transaction_items/transaction_items_202504.csv', low_memory=False)
transactions_items_202505 = pd.read_csv('../client/data_test_case/transaction_items/transaction_items_202505.csv', low_memory=False)
transactions_items_202506 = pd.read_csv('../client/data_test_case/transaction_items/transaction_items_202506.csv', low_memory=False)

In [46]:
dfs3 = [transactions_items_202307,
       transactions_items_202401, 
       transactions_items_202402, 
       transactions_items_202403, 
       transactions_items_202404, 
       transactions_items_202405, 
       transactions_items_202406, 
       transactions_items_202407, 
       transactions_items_202408, 
       transactions_items_202409, 
       transactions_items_202410, 
       transactions_items_202411, 
       transactions_items_202412]

transactions_items_2024 = pd.concat(dfs3, ignore_index=True)

In [47]:
dfs4 = [transactions_items_202501, 
        transactions_items_202502,
        transactions_items_202503,
        transactions_items_202504,
        transactions_items_202505,
        transactions_items_202506
        ]

transactions_items_2025 = pd.concat(dfs4, ignore_index=True)

In [48]:
transactions_items_2024.shape

(1756396, 6)

In [49]:
transactions_items_2025.shape

(772328, 6)

In [50]:
transactions_items_2024.head()

,transaction_id,item_id,quantity,unit_price,subtotal,created_at
0,2ae6d188-76c2-4095-b861-ab97d3cd9312,6,3,9.5,28.5,2023-07-01 07:00:00
1,2ae6d188-76c2-4095-b861-ab97d3cd9312,6,1,9.5,9.5,2023-07-01 07:00:00
2,7d0a474d-62f4-442a-96b6-a5df2bda8832,5,3,9.0,27.0,2023-07-01 07:00:02
3,7d0a474d-62f4-442a-96b6-a5df2bda8832,1,1,6.0,6.0,2023-07-01 07:00:02
4,85f86fef-fddb-4eef-9dc3-1444553e6108,7,3,9.0,27.0,2023-07-01 07:00:04

In [51]:
transactions_items_2025.head()

,transaction_id,item_id,quantity,unit_price,subtotal,created_at
0,7ce4bf6d-ac0d-4884-a7dc-99ffcdab4362,7,3,9.0,27.0,2025-01-01 07:00:03
1,79e08e8a-488b-4b27-bf33-7095ddd52b29,6,3,9.5,28.5,2025-01-01 12:20:53
2,38d50019-64ce-4aa6-b82f-dbe6f121fc6e,5,1,9.0,9.0,2025-01-01 12:20:54
3,731ef328-cfa5-42f9-b867-f99e9715a7c5,4,3,8.0,24.0,2025-01-01 12:20:55
4,84bb4f6d-ac1e-4857-8436-cec00dacfabe,5,1,9.0,9.0,2025-01-01 12:20:56

### Data Cast

In [52]:
# 1) IDs y textos
transactions_items_2024["transaction_id"] = transactions_items_2024["transaction_id"].astype("string").str.strip()

# 2) Numéricos
transactions_items_2024["item_id"] = pd.to_numeric(transactions_items_2024["item_id"], errors="coerce").astype("Int64")
transactions_items_2024["quantity"] = pd.to_numeric(transactions_items_2024["quantity"], errors="coerce").astype("Int64")

transactions_items_2024["unit_price"] = pd.to_numeric(transactions_items_2024["unit_price"], errors="coerce").astype("float64")
transactions_items_2024["subtotal"]    = pd.to_numeric(transactions_items_2024["subtotal"],    errors="coerce").astype("float64")

# 3) Fecha/Hora
transactions_items_2024["created_at"] = pd.to_datetime(transactions_items_2024["created_at"], errors="coerce")

In [53]:
transactions_items_2024.dtypes

transaction_id    string[python]
item_id                    Int64
quantity                   Int64
unit_price               float64
subtotal                 float64
created_at        datetime64[ns]
dtype: object

In [54]:
transactions_items_2024.head()

,transaction_id,item_id,quantity,unit_price,subtotal,created_at
0,2ae6d188-76c2-4095-b861-ab97d3cd9312,6,3,9.5,28.5,2023-07-01 07:00:00
1,2ae6d188-76c2-4095-b861-ab97d3cd9312,6,1,9.5,9.5,2023-07-01 07:00:00
2,7d0a474d-62f4-442a-96b6-a5df2bda8832,5,3,9.0,27.0,2023-07-01 07:00:02
3,7d0a474d-62f4-442a-96b6-a5df2bda8832,1,1,6.0,6.0,2023-07-01 07:00:02
4,85f86fef-fddb-4eef-9dc3-1444553e6108,7,3,9.0,27.0,2023-07-01 07:00:04

In [55]:
# 1) IDs y textos
transactions_items_2025["transaction_id"] = transactions_items_2025["transaction_id"].astype("string").str.strip()

# 2) Numéricos
transactions_items_2025["item_id"] = pd.to_numeric(transactions_items_2025["item_id"], errors="coerce").astype("Int64")
transactions_items_2025["quantity"] = pd.to_numeric(transactions_items_2025["quantity"], errors="coerce").astype("Int64")

transactions_items_2025["unit_price"] = pd.to_numeric(transactions_items_2025["unit_price"], errors="coerce").astype("float64")
transactions_items_2025["subtotal"]    = pd.to_numeric(transactions_items_2025["subtotal"],    errors="coerce").astype("float64")

# 3) Fecha/Hora
transactions_items_2025["created_at"] = pd.to_datetime(transactions_items_2025["created_at"], errors="coerce")

In [56]:
transactions_items_2025.dtypes

transaction_id    string[python]
item_id                    Int64
quantity                   Int64
unit_price               float64
subtotal                 float64
created_at        datetime64[ns]
dtype: object

In [57]:
transactions_items_2025.head()

,transaction_id,item_id,quantity,unit_price,subtotal,created_at
0,7ce4bf6d-ac0d-4884-a7dc-99ffcdab4362,7,3,9.0,27.0,2025-01-01 07:00:03
1,79e08e8a-488b-4b27-bf33-7095ddd52b29,6,3,9.5,28.5,2025-01-01 12:20:53
2,38d50019-64ce-4aa6-b82f-dbe6f121fc6e,5,1,9.0,9.0,2025-01-01 12:20:54
3,731ef328-cfa5-42f9-b867-f99e9715a7c5,4,3,8.0,24.0,2025-01-01 12:20:55
4,84bb4f6d-ac1e-4857-8436-cec00dacfabe,5,1,9.0,9.0,2025-01-01 12:20:56

## Users

In [58]:
# columnas a DESCARTAR (0-based)
drop_idx = {1}
# obtenemos cantidad de columnas leyendo solo el header
sample = pd.read_csv('../client/data/users/users_202307.csv', nrows=0)
keep_idx = [i for i in range(sample.shape[1]) if i not in drop_idx]
sample

Empty DataFrame
Columns: [user_id, gender, birthdate, registered_at]
Index: []

In [59]:
users_202307 = pd.read_csv('../client/data/users/users_202307.csv', usecols=keep_idx, low_memory=False)
users_202308 = pd.read_csv('../client/data/users/users_202308.csv', usecols=keep_idx, low_memory=False)
users_202309 = pd.read_csv('../client/data/users/users_202309.csv', usecols=keep_idx, low_memory=False)
users_202310 = pd.read_csv('../client/data/users/users_202310.csv', usecols=keep_idx, low_memory=False)
users_202311 = pd.read_csv('../client/data/users/users_202311.csv', usecols=keep_idx, low_memory=False)
users_202312 = pd.read_csv('../client/data/users/users_202312.csv', usecols=keep_idx, low_memory=False)

users_202401 = pd.read_csv('../client/data/users/users_202401.csv', usecols=keep_idx, low_memory=False)
users_202402 = pd.read_csv('../client/data/users/users_202402.csv', usecols=keep_idx, low_memory=False)
users_202403 = pd.read_csv('../client/data/users/users_202403.csv', usecols=keep_idx, low_memory=False)
users_202404 = pd.read_csv('../client/data/users/users_202404.csv', usecols=keep_idx, low_memory=False)
users_202405 = pd.read_csv('../client/data/users/users_202405.csv', usecols=keep_idx, low_memory=False)
users_202406 = pd.read_csv('../client/data/users/users_202406.csv', usecols=keep_idx, low_memory=False)
users_202407 = pd.read_csv('../client/data/users/users_202407.csv', usecols=keep_idx, low_memory=False)
users_202408 = pd.read_csv('../client/data/users/users_202408.csv', usecols=keep_idx, low_memory=False)
users_202409 = pd.read_csv('../client/data/users/users_202409.csv', usecols=keep_idx, low_memory=False)
users_202410 = pd.read_csv('../client/data/users/users_202410.csv', usecols=keep_idx, low_memory=False)
users_202411 = pd.read_csv('../client/data/users/users_202411.csv', usecols=keep_idx, low_memory=False)
users_202412 = pd.read_csv('../client/data/users/users_202412.csv', usecols=keep_idx, low_memory=False)

users_202501 = pd.read_csv('../client/data/users/users_202501.csv', usecols=keep_idx, low_memory=False)
users_202502 = pd.read_csv('../client/data/users/users_202502.csv', usecols=keep_idx, low_memory=False)
users_202503 = pd.read_csv('../client/data/users/users_202503.csv', usecols=keep_idx, low_memory=False)
users_202504 = pd.read_csv('../client/data/users/users_202504.csv', usecols=keep_idx, low_memory=False)
users_202505 = pd.read_csv('../client/data/users/users_202505.csv', usecols=keep_idx, low_memory=False)
users_202506 = pd.read_csv('../client/data/users/users_202506.csv', usecols=keep_idx, low_memory=False)

In [60]:
dfs5 = [users_202307,
        users_202308,
        users_202309,
        users_202310,
        users_202311,
        users_202312,
        
        users_202401,
        users_202402,
        users_202403,
        users_202404,
        users_202405,
        users_202406,
        users_202407,
        users_202408,
        users_202409,
        users_202410,
        users_202411,
        users_202412,
        
        users_202501,
        users_202502,
        users_202503,
        users_202504,
        users_202505,
        users_202506]

users = pd.concat(dfs5, ignore_index=True)

In [61]:
users.shape

(2196257, 3)

In [62]:
users.head()

   user_id   birthdate        registered_at
0        1  1970-04-22  2023-07-01 08:13:07
1        2  1991-12-08  2023-07-01 09:53:48
2        3  1971-03-15  2023-07-01 10:07:00
3        4  1975-11-08  2023-07-01 10:28:08
4        5  2005-05-10  2023-07-01 11:02:21

### Data Cast

In [63]:
# 1) user_id
users["user_id"] = pd.to_numeric(users["user_id"], errors="coerce").astype("Int64")

# 2) birthdate → fecha
users["birthdate"] = pd.to_datetime(users["birthdate"], errors="coerce").dt.normalize()

# 3) Fecha/Hora
users["registered_at"] = pd.to_datetime(users["registered_at"], errors="coerce")

In [64]:
users.dtypes

user_id                   Int64
birthdate        datetime64[ns]
registered_at    datetime64[ns]
dtype: object

In [65]:
users.head()

   user_id  birthdate       registered_at
0        1 1970-04-22 2023-07-01 08:13:07
1        2 1991-12-08 2023-07-01 09:53:48
2        3 1971-03-15 2023-07-01 10:07:00
3        4 1975-11-08 2023-07-01 10:28:08
4        5 2005-05-10 2023-07-01 11:02:21

## Menu Items

In [66]:
# columnas a DESCARTAR (0-based)
drop_idx = {4, 5, 6}
# obtenemos cantidad de columnas leyendo solo el header
sample = pd.read_csv('../client/data/menu_items/menu_items.csv', nrows=0)
keep_idx = [i for i in range(sample.shape[1]) if i not in drop_idx]
sample

Empty DataFrame
Columns: [item_id, item_name, category, price, is_seasonal, available_from, available_to]
Index: []

In [67]:
menu_items = pd.read_csv('../client/data/menu_items/menu_items.csv', usecols=keep_idx, low_memory=False)

In [68]:
menu_items.shape

(8, 4)

In [69]:
menu_items.head(10)

   item_id      item_name    category  price
0        1       Espresso      coffee    6.0
1        2      Americano      coffee    7.0
2        3          Latte      coffee    8.0
3        4     Cappuccino      coffee    8.0
4        5     Flat White      coffee    9.0
5        6          Mocha      coffee    9.5
6        7  Hot Chocolate  non-coffee    9.0
7        8   Matcha Latte  non-coffee   10.0

### Data Cast

In [70]:
# 1) Textos
menu_items["item_name"] = menu_items["item_name"].astype("string").str.strip()
menu_items["category"] = menu_items["category"].astype("string").str.strip()

# 2) Numéricos
menu_items["item_id"] = pd.to_numeric(menu_items["item_id"], errors="coerce").astype("Int64")

menu_items["price"] = pd.to_numeric(menu_items["price"], errors="coerce").astype("float64")

In [71]:
menu_items.dtypes

item_id               Int64
item_name    string[python]
category     string[python]
price               float64
dtype: object

In [72]:
menu_items.head(10)

   item_id      item_name    category  price
0        1       Espresso      coffee    6.0
1        2      Americano      coffee    7.0
2        3          Latte      coffee    8.0
3        4     Cappuccino      coffee    8.0
4        5     Flat White      coffee    9.0
5        6          Mocha      coffee    9.5
6        7  Hot Chocolate  non-coffee    9.0
7        8   Matcha Latte  non-coffee   10.0

## Stores

In [73]:
# columnas a DESCARTAR (0-based)
drop_idx = {2, 3, 6, 7}
# obtenemos cantidad de columnas leyendo solo el header
sample = pd.read_csv('../client/data/stores/stores.csv', nrows=0)
keep_idx = [i for i in range(sample.shape[1]) if i not in drop_idx]
sample

Empty DataFrame
Columns: [store_id, store_name, street, postal_code, city, state, latitude, longitude]
Index: []

In [74]:
stores = pd.read_csv('../client/data/stores/stores.csv', usecols=keep_idx, low_memory=False)

In [75]:
stores.shape

(10, 4)

In [76]:
stores.head(15)

,store_id,store_name,city,state
0,1,G Coffee @ USJ 89q,USJ 89q,Kuala Lumpur
1,2,G Coffee @ Kondominium Putra,Kondominium Putra,Selangor Darul Ehsan
2,3,G Coffee @ USJ 57W,USJ 57W,Putrajaya
3,4,G Coffee @ Kampung Changkat,Kampung Changkat,Putrajaya
4,5,G Coffee @ Seksyen 21,Seksyen 21,Putrajaya
5,6,G Coffee @ Alam Tun Hussein Onn,Alam Tun Hussein Onn,Selangor Darul Ehsan
6,7,G Coffee @ Damansara Saujana,Damansara Saujana,Selangor Darul Ehsan
7,8,G Coffee @ Bandar Seri Mulia,Bandar Seri Mulia,Kuala Lumpur
8,9,G Coffee @ PJS8,PJS8,Putrajaya
9,10,G Coffee @ Taman Damansara,Taman Damansara,Selangor Darul Ehsan

### Data Cast

In [77]:
# 1) Textos
stores["store_name"] = stores["store_name"].astype("string").str.strip()
stores["city"] = stores["city"].astype("string").str.strip()
stores["state"] = stores["state"].astype("string").str.strip()

# 2) Numéricos
stores["store_id"] = pd.to_numeric(stores["store_id"], errors="coerce").astype("Int64")

In [78]:
stores.dtypes

store_id               Int64
store_name    string[python]
city          string[python]
state         string[python]
dtype: object

In [79]:
stores.head(10)

,store_id,store_name,city,state
0,1,G Coffee @ USJ 89q,USJ 89q,Kuala Lumpur
1,2,G Coffee @ Kondominium Putra,Kondominium Putra,Selangor Darul Ehsan
2,3,G Coffee @ USJ 57W,USJ 57W,Putrajaya
3,4,G Coffee @ Kampung Changkat,Kampung Changkat,Putrajaya
4,5,G Coffee @ Seksyen 21,Seksyen 21,Putrajaya
5,6,G Coffee @ Alam Tun Hussein Onn,Alam Tun Hussein Onn,Selangor Darul Ehsan
6,7,G Coffee @ Damansara Saujana,Damansara Saujana,Selangor Darul Ehsan
7,8,G Coffee @ Bandar Seri Mulia,Bandar Seri Mulia,Kuala Lumpur
8,9,G Coffee @ PJS8,PJS8,Putrajaya
9,10,G Coffee @ Taman Damansara,Taman Damansara,Selangor Darul Ehsan

# Queries Definitions

In [80]:
# 3) Guardar a /kaggle/working/results (descargable)
OUTDIR = "data/kaggle"
os.makedirs(OUTDIR, exist_ok=True)

# Opción A: NDJSON (compatible con tu script de comparación)
ndjson_path = f"{OUTDIR}/results-test-case.ndjson"

In [81]:
def reset_results():
    """Útil si vas a re-ejecutar todo y querés empezar de cero."""
    if os.path.exists(ndjson_path):
        os.remove(ndjson_path)

1. Transactions (Id and amount) of 2024 and 2025 created between 06:00 AM and 11:00 PM with amount greater or equals to 75.

In [82]:

def append_ndjson(df):
    """Agrega filas de df al NDJSON global sin pisar lo anterior."""
    if df is None or df.empty:
        return
    with open(ndjson_path, "a", encoding="utf-8") as f:
        # pandas escribe en 'lines' (una línea por registro) al file handle abierto en 'a'
        df.to_json(f, orient="records", lines=True, force_ascii=False)

In [83]:
q1_transactions_6_to_23_hours = transactions.set_index('created_at').between_time("6:00","23:00")
q1_transactions_6_to_23_hours.reset_index(inplace=True) 
q1_transactions_6_to_23_hours_gt_15 = q1_transactions_6_to_23_hours[q1_transactions_6_to_23_hours["final_amount"] >= 75]
results = q1_transactions_6_to_23_hours_gt_15[["transaction_id", "final_amount"]].sort_values(by=["transaction_id"]).head(10)
df_out = (
    q1_transactions_6_to_23_hours_gt_15[["transaction_id", "final_amount"]]
    .sort_values(by="transaction_id")
    .assign(qId="q1")  # para que tu comparador lo reconozca
)[["qId","transaction_id","final_amount"]]
append_ndjson(df_out)
display(results)

                              transaction_id  final_amount
423654  000350e9-393c-4383-bf83-f67d46241e76          77.0
591645  000cace1-775e-42dc-b584-5df1f9dafcac          81.0
185384  0013677d-26ea-4515-b8a2-695fe4ca8e30          75.5
649014  0016244a-40cf-47ba-bc51-9a4919a03518          75.0
943345  0018c79c-bfec-4c83-90ad-50a898900a75          76.5
615857  001f2f40-0480-4286-9e9f-fb1c31be832d          84.0
759484  00257854-385b-4dee-b2c5-9da1ea491c32          87.0
285800  002a0ab8-c3d1-4160-9ff4-d785fde2bb43          84.0
363676  002dbd5e-fc8d-433f-9361-a9c56602896d          82.5
683821  0035bcaa-076f-45b3-a053-511e11fcfce3          79.5

2. Best-selling products (name and quantity) and products that generated the biggest profits (name and profit), for each month of 2024 and 2025.

In [84]:
transaction_items = pd.concat([transactions_items_2024, transactions_items_2025], ignore_index=True)
transaction_items["year_month_created_at"] = transaction_items["created_at"].dt.strftime("%Y-%m")
transaction_items_by_year_month = transaction_items.groupby(["year_month_created_at", "item_id"])
menu_items_names_only = menu_items[["item_id", "item_name"]]

In [85]:
#q2_groups_with_quantity = transaction_items_by_year_month["transaction_id"].nunique().reset_index(drop=False).rename(columns={"transaction_id":"sellings_qty"})
#q2_best_selling = q2_groups_with_quantity.sort_values(by=["year_month_created_at", "sellings_qty"], ascending=[True, False]).groupby(["year_month_created_at"]).head(1)
q2_groups_with_quantity = transaction_items_by_year_month["quantity"].sum().reset_index(drop= False).rename(columns={"quantity": "sellings_qty"})
q2_best_selling = q2_groups_with_quantity.sort_values(by=["year_month_created_at", "sellings_qty"], ascending=[True, False]).groupby(["year_month_created_at"]).head(1)

q2_groups_with_subtotal = transaction_items_by_year_month["subtotal"].sum().reset_index(drop=False).rename(columns={"subtotal":"profit_sum"})
q2_most_profits = q2_groups_with_subtotal.sort_values(by=["year_month_created_at", "profit_sum"], ascending=[True, False]).groupby(["year_month_created_at"]).head(1)

q2_best_selling_with_name = pd.merge(q2_best_selling, menu_items_names_only, on="item_id")
q2_most_profits_with_name = pd.merge(q2_most_profits, menu_items_names_only, on="item_id")
df_q2_qty = (
    q2_best_selling_with_name[["year_month_created_at", "item_name", "sellings_qty"]]
    .assign(qId="q2")
    .astype({"sellings_qty": "int64"})
    .sort_values(["year_month_created_at", "item_name"])
)[["qId","year_month_created_at","item_name","sellings_qty"]]

df_q2_profit = (
    q2_most_profits_with_name[["year_month_created_at", "item_name", "profit_sum"]]
    .assign(qId="q2")
    .astype({"profit_sum": "float64"})
    .sort_values(["year_month_created_at", "item_name"])
)[["qId","year_month_created_at","item_name","profit_sum"]]

append_ndjson(df_q2_qty)
append_ndjson(df_q2_profit)

display(q2_best_selling_with_name[["year_month_created_at", "item_name", "sellings_qty"]])
display(q2_most_profits_with_name[["year_month_created_at", "item_name", "profit_sum"]])

  year_month_created_at      item_name  sellings_qty
0               2023-07  Hot Chocolate        311158
1               2024-01          Mocha         25435
2               2024-02          Mocha         25961
3               2024-11     Flat White         21988
4               2024-12   Matcha Latte         56969
5               2025-01          Latte         43438
6               2025-02      Americano         55652
7               2025-05          Mocha         55824
8               2025-06   Matcha Latte         40410

  year_month_created_at     item_name  profit_sum
0               2023-07  Matcha Latte   3096490.0
1               2024-01  Matcha Latte    253940.0
2               2024-02  Matcha Latte    253700.0
3               2024-11  Matcha Latte    215260.0
4               2024-12  Matcha Latte    569690.0
5               2025-01  Matcha Latte    429560.0
6               2025-02  Matcha Latte    548630.0
7               2025-05  Matcha Latte    546980.0
8               2025-06  Matcha Latte    404100.0

3. TPV (Total Payment Value) per each semester during 2024 and 2025, per branch, created between 06:00 AM and 11:00 PM.

In [86]:
q3_transactions_6_to_23_hours = q1_transactions_6_to_23_hours[["created_at", "store_id", "final_amount"]].copy()
q3_transactions_6_to_23_hours.loc[q3_transactions_6_to_23_hours["created_at"].dt.month <= 6, "half_created_at"] = "1"
q3_transactions_6_to_23_hours.loc[q3_transactions_6_to_23_hours["created_at"].dt.month >= 7, "half_created_at"] = "2"
q3_transactions_6_to_23_hours["year_half_created_at"] = q3_transactions_6_to_23_hours["created_at"].dt.year.astype(str) + "-H" + q3_transactions_6_to_23_hours["half_created_at"]
q3_transactions_by_year_half = q3_transactions_6_to_23_hours.groupby(["year_half_created_at", "store_id"])
stores_names_only = stores[["store_id", "store_name"]]

In [87]:
q3_groups_with_tpv = q3_transactions_by_year_half["final_amount"].sum().reset_index(drop=False).rename(columns={"final_amount":"tpv"})
q3_tpv_with_name = pd.merge(q3_groups_with_tpv, stores_names_only, on="store_id")
pd.options.display.float_format = '{:.2f}'.format
display(q3_tpv_with_name[["year_half_created_at", "store_name", "tpv"]].sort_values(by=["year_half_created_at", "store_name"]))
pd.reset_option('display.float_format')

d3_groups_with_tpv = (
    q3_transactions_by_year_half["final_amount"]
    .sum()
    .reset_index(drop=False)
    .rename(columns={"final_amount": "tpv"})
)
q3_tpv_with_name = pd.merge(q3_groups_with_tpv, stores_names_only, on="store_id")

# --- dataset final para comparar y guardar ---
df_q3 = (
    q3_tpv_with_name
    .rename(columns={"year_half_created_at": "period"})      # normaliza el nombre
    [["period", "store_name", "tpv"]]
    .assign(qId="q3")                                        # tag para el comparador
    [["qId", "period", "store_name", "tpv"]]
    .sort_values(["period", "store_name"])
    .astype({"tpv": "float64"})
)

# apendear al NDJSON global (NO pisa)
append_ndjson(df_q3)

   year_half_created_at                       store_name        tpv
5               2023-H2  G Coffee @ Alam Tun Hussein Onn  644041.11
7               2023-H2     G Coffee @ Bandar Seri Mulia  650645.37
6               2023-H2     G Coffee @ Damansara Saujana  642772.90
3               2023-H2      G Coffee @ Kampung Changkat  645020.81
1               2023-H2     G Coffee @ Kondominium Putra  642288.04
8               2023-H2                  G Coffee @ PJS8  643854.43
4               2023-H2            G Coffee @ Seksyen 21  638442.94
9               2023-H2       G Coffee @ Taman Damansara  642775.53
2               2023-H2               G Coffee @ USJ 57W  646554.69
0               2023-H2               G Coffee @ USJ 89q  649287.40
15              2024-H1  G Coffee @ Alam Tun Hussein Onn  705215.00
17              2024-H1     G Coffee @ Bandar Seri Mulia  707905.50
16              2024-H1     G Coffee @ Damansara Saujana  708307.00
13              2024-H1      G Coffee @ Kampung Changkat  708112.00
11              2024-H1     G Coffee @ Kondominium Putra  710936.50
18              2024-H1                  G Coffee @ PJS8  701682.50
14              2024-H1            G Coffee @ Seksyen 21  703159.50
19              2024-H1       G Coffee @ Taman Damansara  715415.00
12              2024-H1               G Coffee @ USJ 57W  709802.00
10              2024-H1               G Coffee @ USJ 89q  715013.00
25              2024-H2  G Coffee @ Alam Tun Hussein Onn 1007818.50
27              2024-H2     G Coffee @ Bandar Seri Mulia 1031944.50
26              2024-H2     G Coffee @ Damansara Saujana 1009430.00
23              2024-H2      G Coffee @ Kampung Changkat 1015134.00
21              2024-H2     G Coffee @ Kondominium Putra 1019568.00
28              2024-H2                  G Coffee @ PJS8 1019863.50
24              2024-H2            G Coffee @ Seksyen 21 1013120.50
29              2024-H2       G Coffee @ Taman Damansara 1012176.50
22              2024-H2               G Coffee @ USJ 57W 1016139.50
20              2024-H2               G Coffee @ USJ 89q 1004912.00
35              2025-H1  G Coffee @ Alam Tun Hussein Onn 1542067.87
37              2025-H1     G Coffee @ Bandar Seri Mulia 1559369.71
36              2025-H1     G Coffee @ Damansara Saujana 1533710.38
33              2025-H1      G Coffee @ Kampung Changkat 1549283.50
31              2025-H1     G Coffee @ Kondominium Putra 1556495.31
38              2025-H1                  G Coffee @ PJS8 1554468.26
34              2025-H1            G Coffee @ Seksyen 21 1550606.97
39              2025-H1       G Coffee @ Taman Damansara 1550416.24
32              2025-H1               G Coffee @ USJ 57W 1551751.47
30              2025-H1               G Coffee @ USJ 89q 1539933.27

4. Birthday date of the 3 customers who have made the most purchases for each branch

In [88]:
transactions_by_store_user = transactions.dropna(subset=['user_id']).groupby(["store_id", "user_id"])
stores_names_only = stores[["store_id", "store_name"]]
users_birthdates_only = users[["user_id", "birthdate"]]

In [89]:
q4_groups_with_most_purchases = transactions_by_store_user["transaction_id"].count().reset_index(drop=False).rename(columns={"transaction_id":"purchases_qty"})
q4_most_purchases = q4_groups_with_most_purchases.sort_values(by=["store_id", "purchases_qty"], ascending=[True, False]).groupby(["store_id"])
q4_most_purchases_with_store = pd.merge(q4_most_purchases, stores_names_only, on="store_id")
q4_most_purchases_with_store_and_user = pd.merge(q4_most_purchases_with_store, users_birthdates_only, on="user_id")

pd.set_option('display.max_rows', None)
res = q4_most_purchases_with_store_and_user[["store_name", "birthdate", "purchases_qty"]].sort_values(by=["store_name", "purchases_qty", "birthdate"])
print(res)

df_q3 = (
    res
    .assign(qId="q4")                                        # tag para el comparador
    [["qId", "store_name", "birthdate", "purchases_qty"]]
)


df_q4_top3 = df_q3.copy()
df_q4_top3["birthdate"] = (
    pd.to_datetime(df_q4_top3["birthdate"], errors="coerce")
      .dt.strftime("%Y-%m-%d")
      .fillna("")   
             
)

append_ndjson(df_q4_top3)

                          store_name  birthdate  purchases_qty
191  G Coffee @ Alam Tun Hussein Onn 1966-09-18              2
200  G Coffee @ Alam Tun Hussein Onn 1967-04-01              2
194  G Coffee @ Alam Tun Hussein Onn 1970-04-12              2
209  G Coffee @ Alam Tun Hussein Onn 1971-01-13              2
204  G Coffee @ Alam Tun Hussein Onn 1973-05-15              2
196  G Coffee @ Alam Tun Hussein Onn 1975-08-26              2
207  G Coffee @ Alam Tun Hussein Onn 1978-08-11              2
203  G Coffee @ Alam Tun Hussein Onn 1979-06-03              2
193  G Coffee @ Alam Tun Hussein Onn 1981-11-26              2
192  G Coffee @ Alam Tun Hussein Onn 1983-09-14              2
195  G Coffee @ Alam Tun Hussein Onn 1988-12-15              2
201  G Coffee @ Alam Tun Hussein Onn 1989-11-09              2
205  G Coffee @ Alam Tun Hussein Onn 1993-09-27              2
198  G Coffee @ Alam Tun Hussein Onn 1998-05-10              2
199  G Coffee @ Alam Tun Hussein Onn 2000-06-18              2
202  G Coffee @ Alam Tun Hussein Onn 2001-12-19              2
197  G Coffee @ Alam Tun Hussein Onn 2005-03-20              2
190  G Coffee @ Alam Tun Hussein Onn 2005-05-10              2
206  G Coffee @ Alam Tun Hussein Onn 2006-10-29              2
208  G Coffee @ Alam Tun Hussein Onn 2007-11-07              2
189  G Coffee @ Alam Tun Hussein Onn 1964-08-11              3
187  G Coffee @ Alam Tun Hussein Onn 1968-05-31              3
188  G Coffee @ Alam Tun Hussein Onn 1969-09-27              3
184  G Coffee @ Alam Tun Hussein Onn 1971-02-09              3
186  G Coffee @ Alam Tun Hussein Onn 1977-03-17              3
179  G Coffee @ Alam Tun Hussein Onn 1979-05-22              3
177  G Coffee @ Alam Tun Hussein Onn 1980-12-12              3
185  G Coffee @ Alam Tun Hussein Onn 1982-09-02              3
178  G Coffee @ Alam Tun Hussein Onn 1983-10-30              3
176  G Coffee @ Alam Tun Hussein Onn 1985-06-24              3
181  G Coffee @ Alam Tun Hussein Onn 1987-09-25              3
183  G Coffee @ Alam Tun Hussein Onn 1987-11-27              3
180  G Coffee @ Alam Tun Hussein Onn 1995-03-21              3
175  G Coffee @ Alam Tun Hussein Onn 2006-06-16              3
182  G Coffee @ Alam Tun Hussein Onn 2008-06-17              3
264     G Coffee @ Bandar Seri Mulia 1970-04-12              2
278     G Coffee @ Bandar Seri Mulia 1970-10-14              2
272     G Coffee @ Bandar Seri Mulia 1974-04-06              2
276     G Coffee @ Bandar Seri Mulia 1975-03-04              2
268     G Coffee @ Bandar Seri Mulia 1982-08-07              2
263     G Coffee @ Bandar Seri Mulia 1984-08-15              2
267     G Coffee @ Bandar Seri Mulia 1987-02-11              2
271     G Coffee @ Bandar Seri Mulia 1990-09-26              2
275     G Coffee @ Bandar Seri Mulia 1992-03-01              2
279     G Coffee @ Bandar Seri Mulia 1993-06-05              2
265     G Coffee @ Bandar Seri Mulia 1995-08-17              2
274     G Coffee @ Bandar Seri Mulia 1995-11-24              2
273     G Coffee @ Bandar Seri Mulia 1997-10-13              2
270     G Coffee @ Bandar Seri Mulia 1997-12-31              2
269     G Coffee @ Bandar Seri Mulia 2001-04-12              2
266     G Coffee @ Bandar Seri Mulia 2007-08-02              2
277     G Coffee @ Bandar Seri Mulia 2008-10-22              2
257     G Coffee @ Bandar Seri Mulia 1965-06-03              3
248     G Coffee @ Bandar Seri Mulia 1966-05-08              3
249     G Coffee @ Bandar Seri Mulia 1967-08-06              3
256     G Coffee @ Bandar Seri Mulia 1974-07-29              3
253     G Coffee @ Bandar Seri Mulia 1975-08-27              3
259     G Coffee @ Bandar Seri Mulia 1976-06-01              3
254     G Coffee @ Bandar Seri Mulia 1978-09-12              3
247     G Coffee @ Bandar Seri Mulia 1981-06-27              3
245     G Coffee @ Bandar Seri Mulia 1987-12-02              3
252     G Coffee @ Bandar Seri Mulia 1995-02-24              3
250     G Coffee @ Bandar Seri Mulia 1999-03-11              3
251     G Coffee @ Bandar Seri Mulia 1999-12-31              3
255     G Coffee @ Bandar Seri Mulia 2002-03-06              3
262     G Coffee @ Bandar Seri Mulia 2003-10-08              3
246     G Coffee @ Bandar Seri Mulia 2004-01-04              3
260     G Coffee @ Bandar Seri Mulia 2004-03-23              3
261     G Coffee @ Bandar Seri Mulia 2005-07-22              3
258     G Coffee @ Bandar Seri Mulia 2008-04-30              3
233     G Coffee @ Damansara Saujana 1974-02-17              2
237     G Coffee @ Damansara Saujana 1975-08-11              2
239     G Coffee @ Damansara Saujana 1975-09-30              2
244     G Coffee @ Damansara Saujana 1977-02-06              2
243     G Coffee @ Damansara Saujana 1978-03-18              2
240     G Coffee @ Damansara Saujana 1981-01-12              2
241     G Coffee @ Damansara Saujana 1982-01-13              2
235     G Coffee @ Damansara Saujana 1982-12-18              2
238     G Coffee @ Damansara Saujana 1985-02-06              2
234     G Coffee @ Damansara Saujana 1997-08-31              2
236     G Coffee @ Damansara Saujana 2001-11-08              2
242     G Coffee @ Damansara Saujana 2006-12-23              2
217     G Coffee @ Damansara Saujana 1965-02-02              3
225     G Coffee @ Damansara Saujana 1966-02-26              3
229     G Coffee @ Damansara Saujana 1966-10-21              3
218     G Coffee @ Damansara Saujana 1969-07-19              3
215     G Coffee @ Damansara Saujana 1969-10-17              3
224     G Coffee @ Damansara Saujana 1969-11-29              3
214     G Coffee @ Damansara Saujana 1970-01-07              3
230     G Coffee @ Damansara Saujana 1971-01-29              3
216     G Coffee @ Damansara Saujana 1971-05-28              3
220     G Coffee @ Damansara Saujana 1976-11-21              3
213     G Coffee @ Damansara Saujana 1978-07-23              3
211     G Coffee @ Damansara Saujana 1979-05-15              3
226     G Coffee @ Damansara Saujana 1980-06-20              3
228     G Coffee @ Damansara Saujana 1986-01-29              3
210     G Coffee @ Damansara Saujana 1991-12-08              3
231     G Coffee @ Damansara Saujana 1993-07-12              3
221     G Coffee @ Damansara Saujana 1993-12-13              3
227     G Coffee @ Damansara Saujana 1994-04-21              3
222     G Coffee @ Damansara Saujana 1996-06-03              3
212     G Coffee @ Damansara Saujana 1996-07-20              3
232     G Coffee @ Damansara Saujana 1997-05-14              3
219     G Coffee @ Damansara Saujana 2008-03-17              3
223     G Coffee @ Damansara Saujana 2009-03-29              3
136      G Coffee @ Kampung Changkat 1965-12-29              2
131      G Coffee @ Kampung Changkat 1966-12-30              2
137      G Coffee @ Kampung Changkat 1972-09-07              2
133      G Coffee @ Kampung Changkat 1973-05-08              2
132      G Coffee @ Kampung Changkat 1982-12-18              2
135      G Coffee @ Kampung Changkat 1992-03-05              2
138      G Coffee @ Kampung Changkat 1992-07-31              2
139      G Coffee @ Kampung Changkat 1999-01-30              2
134      G Coffee @ Kampung Changkat 2004-03-29              2
130      G Coffee @ Kampung Changkat 2005-05-10              2
125      G Coffee @ Kampung Changkat 1965-02-22              3
123      G Coffee @ Kampung Changkat 1968-03-18              3
109      G Coffee @ Kampung Changkat 1970-10-16              3
117      G Coffee @ Kampung Changkat 1978-05-13              3
113      G Coffee @ Kampung Changkat 1978-09-15              3
127      G Coffee @ Kampung Changkat 1981-09-06              3
118      G Coffee @ Kampung Changkat 1982-11-25              3
119      G Coffee @ Kampung Changkat 1983-05-25              3
129      G Coffee @ Kampung Changkat 1985-08-11              3
122      G Coffee @ Kampung Changkat 1988-08-26              3
106      G Coffee @ Kampung Changkat 1989-08-01              3
112      G Coffee @ Kampung Changkat 1993-09-25              3
124      G Coffee @ Kampung Changkat 1994-06-21              3
107      G Coffee @ Kampung Changkat 1995-08-17              3
111      G Coffee @ Kampung Changkat 1998-04-04              3
121      G Coffee @ Kampung Changkat 1999-12-02              3
110      G Coffee @ Kampung Changkat 2000-10-01              3
126      G Coffee @ Kampung Changkat 2002-11-07              3
116      G Coffee @ Kampung Changkat 2003-07-18              3
114      G Coffee @ Kampung Changkat 2004-04-21              3
120      G Coffee @ Kampung Changkat 2004-05-09              3
108      G Coffee @ Kampung Changkat 2006-03-18              3
128      G Coffee @ Kampung Changkat 2008-01-21              3
115      G Coffee @ Kampung Changkat 2008-10-29              3
105      G Coffee @ Kampung Changkat 1970-04-22              4
63      G Coffee @ Kondominium Putra 1970-05-20              2
61      G Coffee @ Kondominium Putra 1972-07-05              2
57      G Coffee @ Kondominium Putra 1975-01-26              2
56      G Coffee @ Kondominium Putra 1975-11-08              2
65      G Coffee @ Kondominium Putra 1977-08-17              2
64      G Coffee @ Kondominium Putra 1985-04-11              2
58      G Coffee @ Kondominium Putra 1985-06-24              2
62      G Coffee @ Kondominium Putra 1987-10-06              2
68      G Coffee @ Kondominium Putra 1992-10-15              2
67      G Coffee @ Kondominium Putra 1992-12-11              2
59      G Coffee @ Kondominium Putra 1997-08-31              2
66      G Coffee @ Kondominium Putra 1999-04-19              2
69      G Coffee @ Kondominium Putra 2007-04-21              2
60      G Coffee @ Kondominium Putra 2008-10-22              2
53      G Coffee @ Kondominium Putra 1964-11-01              3
51      G Coffee @ Kondominium Putra 1967-09-10              3
39      G Coffee @ Kondominium Putra 1969-05-12              3
50      G Coffee @ Kondominium Putra 1969-05-31              3
44      G Coffee @ Kondominium Putra 1980-10-08              3
40      G Coffee @ Kondominium Putra 1987-12-24              3
38      G Coffee @ Kondominium Putra 1988-06-07              3
41      G Coffee @ Kondominium Putra 1991-08-01              3
45      G Coffee @ Kondominium Putra 1993-07-09              3
49      G Coffee @ Kondominium Putra 1994-11-20              3
54      G Coffee @ Kondominium Putra 1995-05-28              3
42      G Coffee @ Kondominium Putra 1996-02-03              3
35      G Coffee @ Kondominium Putra 1998-04-12              3
37      G Coffee @ Kondominium Putra 1998-12-26              3
43      G Coffee @ Kondominium Putra 2001-09-27              3
46      G Coffee @ Kondominium Putra 2002-10-31              3
36      G Coffee @ Kondominium Putra 2002-12-23              3
52      G Coffee @ Kondominium Putra 2003-01-13              3
55      G Coffee @ Kondominium Putra 2004-12-12              3
48      G Coffee @ Kondominium Putra 2005-02-21              3
47      G Coffee @ Kondominium Putra 2007-05-06              3
310                  G Coffee @ PJS8 1969-08-21              2
304                  G Coffee @ PJS8 1972-11-20              2
309                  G Coffee @ PJS8 1974-06-04              2
313                  G Coffee @ PJS8 1975-11-19              2
314                  G Coffee @ PJS8 1977-05-13              2
299                  G Coffee @ PJS8 1979-03-03              2
311                  G Coffee @ PJS8 1981-04-26              2
312                  G Coffee @ PJS8 1982-02-23              2
297                  G Coffee @ PJS8 1991-12-08              2
301                  G Coffee @ PJS8 1995-04-28              2
302                  G Coffee @ PJS8 1995-08-17              2
300                  G Coffee @ PJS8 1997-08-31              2
308                  G Coffee @ PJS8 2002-01-17              2
307                  G Coffee @ PJS8 2002-02-16              2
306                  G Coffee @ PJS8 2003-12-11              2
303                  G Coffee @ PJS8 2005-03-20              2
298                  G Coffee @ PJS8 2005-05-10              2
305                  G Coffee @ PJS8 2007-05-10              2
284                  G Coffee @ PJS8 1966-10-04              3
280                  G Coffee @ PJS8 1966-12-30              3
291                  G Coffee @ PJS8 1967-10-17              3
283                  G Coffee @ PJS8 1975-12-09              3
288                  G Coffee @ PJS8 1976-12-24              3
289                  G Coffee @ PJS8 1978-04-17              3
292                  G Coffee @ PJS8 1984-07-14              3
286                  G Coffee @ PJS8 1984-12-04              3
285                  G Coffee @ PJS8 1986-07-29              3
293                  G Coffee @ PJS8 1987-05-23              3
296                  G Coffee @ PJS8 1991-08-08              3
282                  G Coffee @ PJS8 1993-03-12              3
295                  G Coffee @ PJS8 1995-10-30              3
290                  G Coffee @ PJS8 1998-01-12              3
294                  G Coffee @ PJS8 2006-06-03              3
287                  G Coffee @ PJS8 2006-12-18              3
281                  G Coffee @ PJS8 2008-05-18              3
164            G Coffee @ Seksyen 21 1967-01-19              2
166            G Coffee @ Seksyen 21 1979-12-27              2
167            G Coffee @ Seksyen 21 1981-03-30              2
160            G Coffee @ Seksyen 21 1981-11-10              2
171            G Coffee @ Seksyen 21 1988-05-23              2
159            G Coffee @ Seksyen 21 1991-02-01              2
170            G Coffee @ Seksyen 21 1992-01-17              2
165            G Coffee @ Seksyen 21 1992-02-14              2
168            G Coffee @ Seksyen 21 1994-10-10              2
162            G Coffee @ Seksyen 21 1995-04-28              2
163            G Coffee @ Seksyen 21 1995-09-27              2
161            G Coffee @ Seksyen 21 1997-08-31              2
174            G Coffee @ Seksyen 21 1998-06-08              2
172            G Coffee @ Seksyen 21 2003-10-05              2
173            G Coffee @ Seksyen 21 2005-09-08              2
158            G Coffee @ Seksyen 21 2006-06-16              2
169            G Coffee @ Seksyen 21 2007-02-26              2
157            G Coffee @ Seksyen 21 1965-01-23              3
154            G Coffee @ Seksyen 21 1967-12-05              3
149            G Coffee @ Seksyen 21 1969-08-08              3
148            G Coffee @ Seksyen 21 1970-10-11              3
150            G Coffee @ Seksyen 21 1972-04-10              3
143            G Coffee @ Seksyen 21 1982-07-09              3
147            G Coffee @ Seksyen 21 1988-06-12              3
144            G Coffee @ Seksyen 21 1991-08-20              3
141            G Coffee @ Seksyen 21 1991-12-08              3
142            G Coffee @ Seksyen 21 1993-06-14              3
151            G Coffee @ Seksyen 21 1993-11-24              3
155            G Coffee @ Seksyen 21 1995-03-04              3
145            G Coffee @ Seksyen 21 1996-03-03              3
152            G Coffee @ Seksyen 21 1997-08-15              3
146            G Coffee @ Seksyen 21 2000-03-12              3
153            G Coffee @ Seksyen 21 2001-01-29              3
156            G Coffee @ Seksyen 21 2007-06-09              3
140            G Coffee @ Seksyen 21 1979-08-28              4
347       G Coffee @ Taman Damansara 1967-07-06              2
343       G Coffee @ Taman Damansara 1970-03-03              2
340       G Coffee @ Taman Damansara 1979-05-15              2
349       G Coffee @ Taman Damansara 1981-03-08              2
339       G Coffee @ Taman Damansara 1983-09-14              2
345       G Coffee @ Taman Damansara 1983-10-23              2
344       G Coffee @ Taman Damansara 1990-08-08              2
348       G Coffee @ Taman Damansara 1994-12-25              2
341       G Coffee @ Taman Damansara 1997-08-31              2
342       G Coffee @ Taman Damansara 1997-08-31              2
337       G Coffee @ Taman Damansara 2004-02-10              2
346       G Coffee @ Taman Damansara 2005-02-03              2
338       G Coffee @ Taman Damansara 2008-06-14              2
328       G Coffee @ Taman Damansara 1966-04-10              3
319       G Coffee @ Taman Damansara 1967-07-09              3
326       G Coffee @ Taman Damansara 1967-11-26              3
320       G Coffee @ Taman Damansara 1973-10-31              3
317       G Coffee @ Taman Damansara 1973-12-24              3
329       G Coffee @ Taman Damansara 1974-03-11              3
330       G Coffee @ Taman Damansara 1978-09-26              3
334       G Coffee @ Taman Damansara 1980-12-23              3
331       G Coffee @ Taman Damansara 1983-01-05              3
323       G Coffee @ Taman Damansara 1983-01-23              3
327       G Coffee @ Taman Damansara 1983-11-09              3
315       G Coffee @ Taman Damansara 1985-06-24              3
324       G Coffee @ Taman Damansara 1986-07-22              3
316       G Coffee @ Taman Damansara 1988-04-07              3
335       G Coffee @ Taman Damansara 1991-03-29              3
336       G Coffee @ Taman Damansara 1992-05-31              3
318       G Coffee @ Taman Damansara 1995-01-26              3
332       G Coffee @ Taman Damansara 1997-03-18              3
321       G Coffee @ Taman Damansara 1999-09-17              3
322       G Coffee @ Taman Damansara 2000-04-14              3
325       G Coffee @ Taman Damansara 2005-07-27              3
333       G Coffee @ Taman Damansara 2006-10-25              3
90                G Coffee @ USJ 57W 1966-12-30              2
94                G Coffee @ USJ 57W 1970-04-12              2
89                G Coffee @ USJ 57W 1971-03-15              2
102               G Coffee @ USJ 57W 1972-06-18              2
93                G Coffee @ USJ 57W 1974-02-17              2
92                G Coffee @ USJ 57W 1976-08-18              2
97                G Coffee @ USJ 57W 1977-11-07              2
91                G Coffee @ USJ 57W 1979-03-03              2
98                G Coffee @ USJ 57W 1983-09-24              2
103               G Coffee @ USJ 57W 1984-12-31              2
104               G Coffee @ USJ 57W 1990-09-19              2
99                G Coffee @ USJ 57W 1991-07-16              2
88                G Coffee @ USJ 57W 1991-12-08              2
101               G Coffee @ USJ 57W 2000-06-18              2
96                G Coffee @ USJ 57W 2001-09-01              2
100               G Coffee @ USJ 57W 2006-03-18              2
95                G Coffee @ USJ 57W 2008-10-22              2
76                G Coffee @ USJ 57W 1965-02-24              3
86                G Coffee @ USJ 57W 1966-09-16              3
74                G Coffee @ USJ 57W 1969-06-12              3
81                G Coffee @ USJ 57W 1970-01-08              3
73                G Coffee @ USJ 57W 1971-08-25              3
85                G Coffee @ USJ 57W 1974-09-03              3
78                G Coffee @ USJ 57W 1976-05-17              3
83                G Coffee @ USJ 57W 1980-08-19              3
71                G Coffee @ USJ 57W 1988-05-25              3
80                G Coffee @ USJ 57W 1988-09-27              3
79                G Coffee @ USJ 57W 1992-03-26              3
84                G Coffee @ USJ 57W 1994-12-20              3
87                G Coffee @ USJ 57W 1996-06-14              3
70                G Coffee @ USJ 57W 1997-08-31              3
72                G Coffee @ USJ 57W 2000-05-23              3
75                G Coffee @ USJ 57W 2001-05-22              3
82                G Coffee @ USJ 57W 2006-01-01              3
77                G Coffee @ USJ 57W 2009-03-17              3
25                G Coffee @ USJ 89q 1965-08-11              2